


<main id="main">
    <button onclick="save()" type="button">J'aime</button>
    <span id="favorite"></span>
    <article>

        <header>
            <h1 style="font-size:35px;color:#a593c2">Bienvenue à notre boutique !</h1>
        </header>
        <h2>Notre histoire</h2>
        <p>
               Pendant de nombreuses années, Cake Shop a préparé les gâteaux les plus délicieux chez eux en Tunisie.
En 2013, nous avons ouvert notre première boutique dans une petite rue charmante au cœur de Tunis.
Les gens du monde entier sont tombés amoureux de nos moelleux gâteaux, nos cheesecakes divins et nos tartes aux
pommes épicées...
La boutique a rapidement connu un grand succès.

En 2015, pas moins de 100 gâteaux étaient vendus chaque jour, et Cake Shop a déménagé dans un espace plus grand
pour répondre à la demande croissante.
Suite à de nombreuses demandes, il est devenu évident que la prochaine étape était de permettre à chacun de
commander nos gâteaux depuis chez eux, et ce, de n'importe où dans le monde.
Vous découvrez maintenant le résultat de ce projet : notre propre boutique en ligne, vous permettant de
commander les délicieux gâteaux de Cake Shop à tout moment !
</p>
<hr>
<section id="promos">
<h3 style="font-family:verdana;">&nbsp;Nos promotions hebdomadaire</h3>
<h4>Cheese cake</h4>
30dt - 4 personnes<br>
<figure>
    <img src="assets/imgs/cheescake1.png"width="500"  alt="Cheesecake aux Framboises" />
    <figcaption>Cheesecake aux Framboises</figcaption>
              </figure>

</section>

</article>
</main>

<script>

    function save() {
        localStorage.setItem("liked", true);
    }

    window.onload = function () {
        var favorite = document.getElementById('favorite');
        if (window.localStorage) {
            var storage = window.localStorage;
            if (storage.getItem('liked') == 'true') {
                favorite.innerHTML = "Merci d'avoir aimé nos produits!";
            }
        }
    }
</script>