<div class="sidebar">
    
  



  
    <img  src="assets/imgs/logo .png" width="180px" />
    <header>
        <h4 style="text-align: center;">Explorez nos cakes</h4>
    </header>
    <input type="search" class="searchbox" placeholder="Search our store" />
    <ul>
        <li><button><a href="tousdetails.html">Tous</a></button></li>
        <li><button><a href="cheesecakes.html">Cheese cakes</a></button></li>
        <li><button><a href="pies.html">Tartes</a></button></li>
        <li><button><a href="#promos">Promotions</a></button></li>
    </ul>
</div>
