/* You can add global styles to this file, and also import other style files */
.container {
    display: flex;
    justify-content: space-between;
    margin: 0;
    
  }
  
  .sidebar {
   width: 100%;
 
    padding: 15px;
  }
  .app-sidebar{
    width: 25%;
  }
  .body {
   margin: 0;
    width: 75%;
    padding: 15px;
    background-color:url('assets/imgs/pattern.png');
   
  }
  
   footer {
    
    color: white;
    padding: 10px;
    text-align: center;
  }
  
 
  
  